npm-debug.log
node_modules
*.swp
.DS_Store
.idea/*
!.idea/runConfigurations/
!.idea/inspectionProfiles/
!.idea/jsLinters/
!.jsLibraryMappings.xml
coverage
dist
test-results.xml
public/styles/styles.css
.tmp