<div>
    <div class="media">
        <a class="pull-left" href="#" data-ng-click="clickHome()">
            <img class="media-object" src="..." alt="...">
        </a>

        <div class="media-body">
            <div class="media-heading">{{home}}</div>
            Bets on home: {{betsOnHome}}
        </div>
    </div>
    <H4>VS</H4>
    <div class="media">
        <a class="pull-left" href="#" data-ng-click="clickAway()">
            <img class="media-object" src="..." alt="...">
        </a>

        <div class="media-body">
            <div class="media-heading">{{away}}</div>
            Bets on home: {{betsOnAway}}
        </div>
    </div>
</div>
