
<div class="media">
    <div class="media-body">
        <div style="width:500px;display:inline-block">
            <a class="pull-left" href="#" data-ng-click="clickHome()">
                <img class="media-object" src="..." alt="...">
            </a>
            <H3 class="media-heading">{{home}}</H3>
            Bets on home: {{betsOnHome}}
        </div>

        <H4 style="display:inline-block">VS</H4>

        <div style="width:500px;display:inline-block">
            <a class="pull-right" href="#" data-ng-click="clickAway()">
                <img class="media-object" src="..." alt="...">
            </a>
            <H3 class="media-heading">{{away}}</H3>
            Bets on home: {{betsOnAway}}
        </div>
    </div>
</div>
