
<div class="media">
    <span class="media-body">
        <div class="single-event">
            <a class="pull-left" href="#" data-ng-click="clickHome()">
                <img class="media-object" src="..." alt="...">
            </a>
            <H3 class="media-heading">{{home}}</H3>
            Bets on home: {{betsOnHome}}
        </div>

        <H4 class="single-event">VS</H4>

        <div class="single-event">
            <a class="pull-right" href="#" data-ng-click="clickAway()">
                <img class="media-object" src="..." alt="...">
            </a>
            <H3 class="media-heading">{{away}}</H3>
            Bets on home: {{betsOnAway}}
        </div>
    </span>
</div>
